/* Buttons on Contact Page */
#rbut:hover, #gbut:hover, #lbut:hover {
    transform: rotate(360deg) scale(1.2);
    transition: .5s all;
}
  
#rbut:active, #gbut:active, #lbut:active {
    transform: rotate(360deg) scale(1);
    transition: .2s all;
}

#contentShow1 {
    margin-bottom: 5%;
}

/* Bonus link on Portfolio Page */
.hover_img a {
    position: relative;
}
.hover_img a #animal {
    position: absolute; 
    display: none;
    z-index: 99;
}
.hover_img a:hover #animal {
    display: block;
}
